.produto__parte__secundaria {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: rgb(118, 185, 0);
  background: -moz-linear-gradient(321deg, rgba(118, 185, 0, 0.9) 5%, rgba(255, 255, 255, 1) 65%);
  background: -webkit-linear-gradient(321deg, rgba(118, 185, 0, 0.9) 5%, rgba(255, 255, 255, 1) 65%);
  background: linear-gradient(321deg, rgba(118, 185, 0, 0.9) 5%, rgba(255, 255, 255, 1) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#76b900", endColorstr="#ffffff", GradientType=1);
}

.produto__parte__secundaria__texto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.produto__parte__secundaria__texto h2 {
  text-align: center;
  font-size: 3rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
}

.produto__parte__secundaria__texto h3 {
  text-align: center;
  font-size: 2rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}


.produto__parte__secundaria__texto p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  margin: 0 auto;
  max-width: 1500px;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


}

.img__placa__de__video {
  display: flex;
  align-items: center;
  width: 70%;
}


@media (max-width: 970px) {
 
.produto__parte__secundaria{
  height: 100%;
  gap: 1rem;
}

.produto__parte__secundaria__texto{
  gap: 1rem;
}
  .img__placa__de__video {
    width: 70%;
  }

  .produto__parte__secundaria__texto h2 {
    font-size: 2.5rem;
  }

  .produto__parte__secundaria__texto h3 {
    font-size: 1.5rem;
  }

  .produto__parte__secundaria__texto p {
    max-width: 22.5rem;
    font-size: 1rem;
  }
}


